<div
  class="uk-height-large uk-background-cover uk-light uk-flex"
  uk-parallax="bgy: -200"
  style={{this.background}}
  scale="1"
>
  <div class="uk-position-center">
    <h1
      class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical"
    >
      Login
    </h1>
    <form class="uk-form-stacked" {{on "submit" this.login}}>
      <div class="uk-margin-small">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <Input
            @value={{this.username}}
            class="uk-input uk-form-width-mediu2m"
          />
        </div>
      </div>
      <div class="uk-margin-small">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <Input @value={{this.password}} @type="password" class="uk-input" />
        </div>
      </div>
      <br />
      <div class="uk-position-relative">
        <Input
          @type="submit"
          @value="Submit"
          class="uk-button uk-button-primary uk-position-center"
        />
      </div>
    </form>

    {{#if this.errors.length}}
      <h3>
        Errors
      </h3>
      {{#each this.errors as |error|}}
        {{error.message}}<br />
      {{/each}}
    {{/if}}
  </div>
</div>